/* [+].col-xxs-, .col-tn- */
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12,
.col-tn-1, .col-tn-2, .col-tn-3, .col-tn-4, .col-tn-5, .col-tn-6, .col-tn-7, .col-tn-8, .col-tn-9, .col-tn-10, .col-tn-11, .col-tn-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@media (min-width: 384px) and (max-width: 479px) {
    .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
        float: left;
    }
    .col-xxs-12 {
        width: 100%;
    }
    .col-xxs-11 {
        width: 91.66666667%;
    }
    .col-xxs-10 {
        width: 83.33333333%;
    }
    .col-xxs-9 {
        width: 75%;
    }
    .col-xxs-8 {
        width: 66.66666667%;
    }
    .col-xxs-7 {
        width: 58.33333333%;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-5 {
        width: 41.66666667%;
    }
    .col-xxs-4 {
        width: 33.33333333%;
    }
    .col-xxs-3 {
        width: 25%;
    }
    .col-xxs-2 {
        width: 16.66666667%;
    }
    .col-xxs-1 {
        width: 8.33333333%;
    }
    .col-xxs-pull-12 {
        right: 100%;
    }
    .col-xxs-pull-11 {
        right: 91.66666667%;
    }
    .col-xxs-pull-10 {
        right: 83.33333333%;
    }
    .col-xxs-pull-9 {
        right: 75%;
    }
    .col-xxs-pull-8 {
        right: 66.66666667%;
    }
    .col-xxs-pull-7 {
        right: 58.33333333%;
    }
    .col-xxs-pull-6 {
        right: 50%;
    }
    .col-xxs-pull-5 {
        right: 41.66666667%;
    }
    .col-xxs-pull-4 {
        right: 33.33333333%;
    }
    .col-xxs-pull-3 {
        right: 25%;
    }
    .col-xxs-pull-2 {
        right: 16.66666667%;
    }
    .col-xxs-pull-1 {
        right: 8.33333333%;
    }
    .col-xxs-pull-0 {
        right: auto;
    }
    .col-xxs-push-12 {
        left: 100%;
    }
    .col-xxs-push-11 {
        left: 91.66666667%;
    }
    .col-xxs-push-10 {
        left: 83.33333333%;
    }
    .col-xxs-push-9 {
        left: 75%;
    }
    .col-xxs-push-8 {
        left: 66.66666667%;
    }
    .col-xxs-push-7 {
        left: 58.33333333%;
    }
    .col-xxs-push-6 {
        left: 50%;
    }
    .col-xxs-push-5 {
        left: 41.66666667%;
    }
    .col-xxs-push-4 {
        left: 33.33333333%;
    }
    .col-xxs-push-3 {
        left: 25%;
    }
    .col-xxs-push-2 {
        left: 16.66666667%;
    }
    .col-xxs-push-1 {
        left: 8.33333333%;
    }
    .col-xxs-push-0 {
        left: auto;
    }
    .col-xxs-offset-12 {
        margin-left: 100%;
    }
    .col-xxs-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-xxs-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-xxs-offset-9 {
        margin-left: 75%;
    }
    .col-xxs-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-xxs-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-xxs-offset-6 {
        margin-left: 50%;
    }
    .col-xxs-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-xxs-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-xxs-offset-3 {
        margin-left: 25%;
    }
    .col-xxs-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-xxs-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-xxs-offset-0 {
        margin-left: 0;
    }
}

@media (max-width: 383px) {
    .col-tn-1, .col-tn-2, .col-tn-3, .col-tn-4, .col-tn-5, .col-tn-6, .col-tn-7, .col-tn-8, .col-tn-9, .col-tn-10, .col-tn-11, .col-tn-12 {
        float: left;
    }
    .col-tn-12 {
        width: 100%;
    }
    .col-tn-11 {
        width: 91.66666667%;
    }
    .col-tn-10 {
        width: 83.33333333%;
    }
    .col-tn-9 {
        width: 75%;
    }
    .col-tn-8 {
        width: 66.66666667%;
    }
    .col-tn-7 {
        width: 58.33333333%;
    }
    .col-tn-6 {
        width: 50%;
    }
    .col-tn-5 {
        width: 41.66666667%;
    }
    .col-tn-4 {
        width: 33.33333333%;
    }
    .col-tn-3 {
        width: 25%;
    }
    .col-tn-2 {
        width: 16.66666667%;
    }
    .col-tn-1 {
        width: 8.33333333%;
    }
    .col-tn-pull-12 {
        right: 100%;
    }
    .col-tn-pull-11 {
        right: 91.66666667%;
    }
    .col-tn-pull-10 {
        right: 83.33333333%;
    }
    .col-tn-pull-9 {
        right: 75%;
    }
    .col-tn-pull-8 {
        right: 66.66666667%;
    }
    .col-tn-pull-7 {
        right: 58.33333333%;
    }
    .col-tn-pull-6 {
        right: 50%;
    }
    .col-tn-pull-5 {
        right: 41.66666667%;
    }
    .col-tn-pull-4 {
        right: 33.33333333%;
    }
    .col-tn-pull-3 {
        right: 25%;
    }
    .col-tn-pull-2 {
        right: 16.66666667%;
    }
    .col-tn-pull-1 {
        right: 8.33333333%;
    }
    .col-tn-pull-0 {
        right: auto;
    }
    .col-tn-push-12 {
        left: 100%;
    }
    .col-tn-push-11 {
        left: 91.66666667%;
    }
    .col-tn-push-10 {
        left: 83.33333333%;
    }
    .col-tn-push-9 {
        left: 75%;
    }
    .col-tn-push-8 {
        left: 66.66666667%;
    }
    .col-tn-push-7 {
        left: 58.33333333%;
    }
    .col-tn-push-6 {
        left: 50%;
    }
    .col-tn-push-5 {
        left: 41.66666667%;
    }
    .col-tn-push-4 {
        left: 33.33333333%;
    }
    .col-tn-push-3 {
        left: 25%;
    }
    .col-tn-push-2 {
        left: 16.66666667%;
    }
    .col-tn-push-1 {
        left: 8.33333333%;
    }
    .col-tn-push-0 {
        left: auto;
    }
    .col-tn-offset-12 {
        margin-left: 100%;
    }
    .col-tn-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-tn-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-tn-offset-9 {
        margin-left: 75%;
    }
    .col-tn-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-tn-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-tn-offset-6 {
        margin-left: 50%;
    }
    .col-tn-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-tn-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-tn-offset-3 {
        margin-left: 25%;
    }
    .col-tn-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-tn-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-tn-offset-0 {
        margin-left: 0;
    }
}


/* [+] hidden-xxs */
@media (min-width: 384px) and (max-width: 479px) {
    .hidden-xxs {
        display: none !important;
    }
}
/* [+] hidden-tn */
@media (max-width: 383px) {
    .hidden-tn {
        display: none !important;
    }
}


/* [+] visible-xxs, visible-xxs-, visible-tn and visible-tn- */
.visible-xxs, .visible-tn {
    display: none !important;
}
.visible-xxs-block, .visible-tn-block,
.visible-xxs-inline, .visible-tn-inline,
.visible-xxs-inline-block, .visible-tn-inline-block {
    display: none !important;
}

@media (min-width: 384px) and (max-width: 479px) {
    .visible-xxs {
        display: block !important;
    }
    table.visible-xxs {
        display: table;
    }
    tr.visible-xxs {
        display: table-row !important;
    }
    th.visible-xxs,
    td.visible-xxs {
        display: table-cell !important;
    }
    .visible-xxs-block {
        display: block !important;
    }
    .visible-xxs-inline {
        display: inline !important;
    }
    .visible-xxs-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 383px) {
    .visible-tn {
        display: block !important;
    }
    table.visible-tn {
        display: table;
    }
    tr.visible-tn {
        display: table-row !important;
    }
    th.visible-tn,
    td.visible-tn {
        display: table-cell !important;
    }
    .visible-tn-block {
        display: block !important;
    }
    .visible-tn-inline {
        display: inline !important;
    }
    .visible-tn-inline-block {
        display: inline-block !important;
    }
}
